/*
= STYLE REFERENCE =

== FONTS ==
Headers: "Courier Prime", monospace
Content: "Ubuntu Mono", monospace;

== COLORS ==
Main color: Lincoln green (#478778)
Secondary color: Light steel blue (#AFC3DE)
Highlight color: Pastel lemon (#F6F3A9)
*/

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Courier Prime", monospace;
    font-weight: 500;
    font-style: normal;
}

p, li {
    font-family: "Ubuntu Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #478778;
    color: black;
}

.header {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    background-color: #AFC3DE;
}

.text-logo-homepage-link {
    width: 80%;
    margin: 10px auto;
}

.text-logo-image {
    width: 100%;
}

.header-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    border: 2px solid #F6F3A9;
}

.header-nav-item {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
}

.header-nav-link {
    text-decoration: none;
    color: black;
}

.footer {
    background-color: #AFC3DE;
    color: black;
}